/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .img-container {
  margin-right: 1.5rem;
 }

 .img-container a {
  display: block;
  width: 10rem;
  height: 12rem;
 }

 .store-img {

  object-fit: contain;
 }

@keyframes change-highlight {
  0% {
    background: #8f8;
  } 
  100% {
    background: none;
  }
}

.line-item-highlight {
  animation: change-highlight 1s;
}

.change-highlight {
  animation: change-highlight 1s;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  margin: auto;
}
