<div class="w-full">
<%= render "notice" %>

<% if @visit_count > 5 %>
  <div class="text-l mb-6 pb-2 border-b-2">
    You visited this page <%= pluralize(@visit_count, 'time') %>
  </div>
<% end %>

<h1 class="font-bold text-xl mb-6 pb-2 border-b-2">
  Your Pragmatic Catalog
</h1>

<%= turbo_stream_from 'products' %>

<ul>
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
       <%= render partial: 'product', object: product, locals: { change_product: nil } %>
      <% end %>
    <% end %>
  <% end %>
</ul>
</div>